html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  transition: all 0.5s ease-in-out;
  font-size: 10px;
  background-color: #E1D4C9;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
}

h1 {
  font-family: Inter;
  color: #E1D4C9;
  font-size: 7.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 105%;
  margin: 0;
}

h2 {
  font-size: 6rem;
  color: #403F3D;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  margin: 0;
}

h3 {
  font-family: Inter;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  margin: 0;
}

.text-accent {
  font-style: italic;
  color: #B0907A;
}

.button {
  display: flex;
  width: 20rem;
  height: 6.4rem;
  justify-content: center;
  align-items: center;
  background-color: #E1D4C9;
  border-radius: 100px;
  border: 0.1rem solid #403F3D;
}

.button.mobile-app_button {
  justify-content: left;
}

.button:hover {
  cursor: pointer;
  background-color: #665F55;
  color: #E1D4C9;
}

.price {
  font-family: Inter;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  margin: 0;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0 2rem;
}

.nav {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

.nav a {
  text-decoration: none;
  font-family: Inter;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  color: #403F3D;
  position: relative;
}

.nav a:hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.2rem;
  background-color: #403F3D;
  bottom: -0.3rem;
}

.header_menu-button, .enjoy_menu-button {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #403F3D;
  font-family: Inter;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  position: relative;
}

.header_menu-button p {
  margin: 0;
  margin-right: 0.8rem;
}

.header_menu-button p:hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.2rem;
  background-color: #403F3D;
  bottom: -0.3rem;
}

.enjoy {
  background: url("../img/img-hero.jpg") center/cover no-repeat;
  border-radius: 4rem;
  overflow: hidden;
  padding: 10rem;
}

.enjoy__content {
  max-width: 53rem;
}

.enjoy p {
  margin: 4rem 0;
  font-family: Inter;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #E1D4C9;
}

.favorite {
  margin-top: 10rem;
  text-align: center;
}

.favorite__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3.5rem;
}

.favorite_content {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.favorite h3 {
  margin-top: 2rem;
}

.favorite_content p {
  max-width: 48rem;
  margin: 1.6rem 0;
  font-family: Inter;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.favorite__controls {
  display: flex;
  margin-top: 4rem;
  justify-content: space-between;
  gap: 1.2rem;
}

.favorite-control {
  width: 4rem;
  height: 0.4rem;
  background-color: #C1B6AD;
  border-radius: 100px;
  border: none;
}

.favorite-control_active {
  background-color: #665F55;
}

.favorite__arrows button {
  display: flex;
  width: 6rem;
  height: 6rem;
  justify-content: center;
  align-items: center;
  border-radius: 10rem;
  margin-bottom: 4rem;
  color: #665F55;
  background-color: #E1D4C9;
  border-color: #665F55;
}

.favorite__arrows button:hover {
  cursor: pointer;
  color: #E1D4C9;
  background-color: #665F55;
  border-color: none;
}

.about {
  margin-top: 10rem;
}

.about__gallery {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4rem;
  height: 106rem;
}

.about__gallery img:hover {
  transform: scale(0.9);
  object-fit: cover;
}

.about__gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2rem;
  transition: transform 0.3s ease;
}

.about__gallery img:nth-child(2),
.about__gallery img:nth-child(3) {
  height: 43rem;
}

.about__gallery img:nth-child(1),
.about__gallery img:nth-child(4) {
  height: 59rem;
}

.about__gallery img:nth-child(4) {
  margin-top: -16rem;
}

.mobile-app {
  margin-top: 10rem;
  display: flex;
  justify-content: space-between;
}

.mobile-app__text-content {
  max-width: 63rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
}

.mobile-app__text-content p {
  margin: 0;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.mobile-app__buttons {
  display: flex;
  gap: 2rem;
}

.button-content {
  margin-left: 2rem;
  display: flex;
  justify-content: start;
  gap: 1rem;
}

.button-text p {
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  text-align: start;
}

p.store {
  text-align: start;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.mobile-app_button:hover {
  cursor: pointer;
  background-color: #665F55;
  color: #E1D4C9;
}

footer {
  margin-top: 10rem;
  background-color: #665F55;
  border-radius: 40px;
  padding: 10rem 10rem 9rem;
  justify-content: space-between;
  gap: 20rem;
}

.contacts__content {
  color: #E1D4C9;
  display: flex;
  gap: 5rem;
}

.contacts__content h2 {
  color: #E1D4C9;
}

.contacts__content_left {
  width: 50%;
}

.social-media {
  list-style: none;
  padding: 0;
  display: flex;
  margin-top: 4rem;
}

.social-media li {
  margin-right: 15px;
}

.social-media a {
  text-decoration: none;
}

.contacts a {
  color: #E1D4C9;
  text-decoration: none;
}

.contacts a:hover {
  text-decoration: underline;
}

.link-item {
  display: flex;
}

.contacts__content_right .contact {
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}

.contacts p {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}

/*# sourceMappingURL=style.css.map */
