html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  transition: all 0.5s ease-in-out;
  font-size: 10px;
  background-color: #E1D4C9;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
}

h1 {
  font-family: Inter;
  color: #E1D4C9;
  font-size: 7.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 105%;
  margin: 0;
}

.offer h1 {
  color: #403F3D;
  max-width: 80rem;
  text-align: center;
  font-weight: 600;
  line-height: 125%;
  margin: 0;
  font-size: 6rem;
}

h2 {
  font-size: 6rem;
  color: #403F3D;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  margin: 0;
}

h3 {
  font-family: Inter;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  margin: 0;
}

.text-accent {
  font-style: italic;
  color: #B0907A;
}

.price {
  font-family: Inter;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  margin: 0;
}

.button {
  display: flex;
  width: 20rem;
  height: 6.4rem;
  justify-content: center;
  align-items: center;
  background-color: #E1D4C9;
  border-radius: 100px;
  border: 0.1rem solid #403F3D;
}

.enjoy_menu-button {
  display: flex;
  justify-content: center;
  border: none;
  position: relative;
}

.enjoy_menu-button:hover {
  background-color: #E1D4C9;
  color: #403F3D;
}

.enjoy_menu-button::after {
  content: url(../img/icons/cofee-cup.svg);
  display: flex;
  margin-right: -1.7rem;
  transform: scale(0);
  transition: all 0.5s ease-in-out;
}

.enjoy_menu-button:hover::after {
  margin-left: 0.5rem;
  opacity: 1;
  transform: scale(1);
  left: -1rem;
}

.favorite__controls {
  display: flex;
  margin-top: 4rem;
  justify-content: space-between;
  gap: 1.2rem;
}

.favorite-control {
  width: 4rem;
  height: 0.4rem;
  background-color: #C1B6AD;
  border-radius: 100px;
  border: none;
}

.favorite-control_active {
  background-color: #665F55;
}

.favorite__arrows button {
  display: flex;
  width: 6rem;
  height: 6rem;
  justify-content: center;
  align-items: center;
  border-radius: 10rem;
  margin-bottom: 4rem;
  color: #665F55;
  background-color: #E1D4C9;
  border: 1px solid #403F3D;
}

.favorite__arrows button:hover {
  cursor: pointer;
  background-color: #665F55;
  border-color: none;
  border: 1px solid #665F55;
  transition: all 0.7s ease;
}

.favorite__arrows_left:hover path {
  stroke: #E1D4C9;
  transition: stroke 0.5s ease;
}

.favorite__arrows_right:hover path {
  stroke: #E1D4C9;
  transition: stroke 0.5s ease;
}

.button.mobile-app_button {
  justify-content: left;
}

.mobile-app__buttons {
  display: flex;
  gap: 2rem;
}

.button-content {
  margin-left: 2rem;
  display: flex;
  justify-content: start;
  gap: 1rem;
}

.mobile-app__text-content p.available {
  font-family: Inter;
  font-size: 10px !important;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  text-align: start;
}

.mobile-app__text-content p.store {
  text-align: start;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.mobile-app_button:hover {
  cursor: pointer;
  background-color: #665F55;
  color: #E1D4C9;
  border: 1px solid #665F55;
  transition: all 0.7s ease;
}

.mobile-app_button:hover path {
  fill: #E1D4C9;
  transition: all 0.7s ease;
}

.offer__button {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  gap: 1.6rem;
}

.offer__button-content {
  width: fit-content;
  height: fit-content;
  display: flex;
  padding: 8px 16px 8px 8px;
  align-items: center;
  justify-content: space-between;
  gap: 0.8rem;
  border: 1px solid #C1B6AD;
}

.offer__button-content:first-child {
  background-color: #665F55;
  color: #E1D4C9;
  pointer-events: none;
}

.offer__button-content:first-child {
  background-color: #665F55;
  color: #E1D4C9;
  pointer-events: none;
}

.offer__button-content:nth-child(2):hover,
.offer__button-content:nth-child(3):hover {
  background-color: #665F55;
  color: #E1D4C9;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.header_menu-button_2 {
  pointer-events: none;
}

.offer__button-content p {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  margin: 0;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0 2rem;
}

.nav {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

.nav a {
  text-decoration: none;
  font-family: Inter;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  color: #403F3D;
  position: relative;
}

.nav a:hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.2rem;
  background-color: #403F3D;
  bottom: -0.3rem;
}

.header_menu-button, .enjoy_menu-button {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #403F3D;
  font-family: Inter;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  position: relative;
}

.header_menu-button p {
  margin: 0;
  margin-right: 0.8rem;
}

.header_menu-button p::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0.2rem;
  background-color: #403F3D;
  bottom: -0.3rem;
}

.header_menu-button p:hover::before {
  width: 100%;
  left: 0;
  transition: width 1s ease, left 1s ease;
}

.enjoy {
  background: url("../img/img-hero.jpg") center/cover no-repeat;
  border-radius: 4rem;
  overflow: hidden;
  padding: 10rem;
}

.enjoy__content {
  max-width: 53rem;
}

.enjoy p {
  margin: 4rem 0;
  font-family: Inter;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #E1D4C9;
}

.favorite {
  margin-top: 10rem;
  text-align: center;
}

.favorite__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3.5rem;
}

.favorite_content {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.favorite h3 {
  margin-top: 2rem;
}

.favorite_content p {
  max-width: 48rem;
  margin: 1.6rem 0;
  font-family: Inter;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.about {
  margin-top: 10rem;
}

.about__gallery {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4rem;
  height: 106rem;
}

.about__gallery img:hover {
  transform: scale(0.9);
  object-fit: cover;
}

.about__gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2rem;
  transition: transform 0.3s ease;
}

.about__gallery img:nth-child(2),
.about__gallery img:nth-child(3) {
  height: 43rem;
}

.about__gallery img:nth-child(1),
.about__gallery img:nth-child(4) {
  height: 59rem;
}

.about__gallery img:nth-child(4) {
  margin-top: -16rem;
}

.mobile-app {
  margin-top: 10rem;
  display: flex;
  justify-content: space-between;
}

.mobile-app__text-content {
  max-width: 63rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
}

.mobile-app__text-content p {
  margin: 0;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

footer {
  margin-top: 10rem;
  background-color: #665F55;
  border-radius: 40px;
  padding: 10rem 10rem 9rem;
  justify-content: space-between;
  gap: 20rem;
}

.contacts__content {
  color: #E1D4C9;
  display: flex;
  gap: 5rem;
}

.contacts__content h2 {
  color: #E1D4C9;
}

.contacts__content_left {
  width: 50%;
}

.social-media {
  list-style: none;
  padding: 0;
  display: flex;
  margin-top: 4rem;
}

.social-media li {
  margin-right: 15px;
}

.social-media a {
  text-decoration: none;
}

.social-media a:hover path {
  background-color: #B0907A;
}

.contacts a {
  color: #E1D4C9;
  text-decoration: none;
}

.link-item p {
  margin-left: 0.7rem;
}

.contacts__content_right {
  position: relative;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}

.contacts__content_right .contact {
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}

.contact-item {
  margin-top: 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

.contacts p {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  margin: 0;
  line-height: 150%;
  margin-left: 0.6rem;
}

.link-item {
  display: flex;
  position: relative;
}

a.link-item:hover::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 0.2rem;
  border-radius: 0.2rem;
  background-color: #E1D4C9;
  bottom: -0.3rem;
  transition: all 1s ease-in-out;
}

.offer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.offer__gallery {
  margin-top: 3.5rem;
}

.gallery-item {
  height: 50.4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
  border: 1px solid #C1B6AD;
  border-radius: 4rem;
}

.gallery-item__text {
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
}

.gallery-item__text p {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.gallery-item img {
  display: flex;
  align-items: start;
  border-radius: 4rem;
}

.gallery-item:hover {
  transform: scale(0.9);
  object-fit: cover;
  transition: transform 1s ease;
  cursor: pointer;
}

.galery__grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 40px;
}

.gallery-item__text.price {
  margin-top: 1rem;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

/*# sourceMappingURL=style.css.map */
