
@media (max-width: 1200px){
  
    
    
    .mobile-app{
        margin-top: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10rem;
      }

      .mobile-app__text-content{
    
        max-width: 68.8rem;
        
      }

      .mobile-app__mobile-screens{
        display: flex;
        justify-content: center;
      }

    
}

@media (max-width: 1100px){
.galery__grid {
        
    grid-template-columns: repeat(3, minmax(0, 1fr)); 
    
}
}

@media (max-width: 1000px){
    .nav{
        gap: 2rem;
    }

    .contacts__content.light{
        
        flex-direction:column;
        justify-content: space-between;
        
      }

      footer{
        padding: 10rem 6rem;
      }
    
      .contacts__content_left {
        width: auto;
    }

    .contacts__content_right{
        
        margin-top: 3.5rem;
        margin-bottom: 0.5rem;
         
      }
}


@media (max-width: 768px){
    .header__nav{
        display: none;
    }

    .header_menu-button{
        display: none;
    }


    .burger-icon{
        display: flex;
    }  

    /* Add this style to show burger-icon when burger menu is not active */
// .burger-icon:not(.active) {
//   display: flex;
// }

    // .burger-menu{
    //   display: flex;
    // }

    body.no-scroll {
      overflow: hidden;
  }


    .burger-menu{
      display: flex;
      box-sizing: border-box;
      position: fixed;
      top: 10rem;
      right: 0;
      transform: translateX(100%);
      transition: transform 0.5s;
      z-index: 100;
      padding: 0 4rem;
      max-width: 76.8rem;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 100%;
      background-color: $color-background;
      
    }
    
    .burger-menu.active {
      display: flex;
      transform: translateX(0);
      box-sizing:border-box;
      
      
  
    }
    
    // .burger-menu__header{
    //   display: flex;
    //   width: 100%;
    //   margin: 2rem 0;
    //   justify-content: space-between;
    //   align-items: center;
      
    // }
    
    ul.nav_show{
      display: flex;
      margin: 6rem 0 10rem;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 6rem;
    
    
    }
    
    ul.nav_show a.nav-link{
      font-family: Inter;
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: 125%;
    }
    
    .burger_menu-button{
      display: flex;
      margin-right: 0.8rem;
      align-items: center; 
      text-decoration: none; 
      color: $color-text;
    }
    
    .burger_menu-button p {
      margin: 0; 
      margin-right: 2.4rem;
      font-family: Inter;
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: 125%;
    }
    
    .burger_menu-icon{
      transform: scale(1.9);
    }

    .burger-icon .burger-lines{
      position: relative;
      transition: transform 0.5s ease;
    }


    .burger-icon.active .burger-lines .line-1
    {
      position: absolute;
      transform: translateY(-50%) rotate(-45deg);
      transition: 0.5s ease;
    }

    .burger-icon.active .burger-lines .line-2
    {
      position: absolute;  
      transform: rotate(45deg) translateY(50%);
      transition: all 0.5s ease;
    }
    .burger-icon.active {
      transform: rotate(90deg);
      transition: transform 0.5s ease;
    }
    .burger-icon{
      transform: rotate(0deg);
      transition: transform 0.5s ease;
    }

    

    .enjoy{
        padding: 10rem 6rem;
    }

    
    .enjoy_menu-button::after{
        transform: scale(1);
        margin-right: 0.3rem;
        margin-left: 0.7rem;
        width:fit-content
    }

    .about__gallery{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        height: fit-content;
    }

    .about__gallery .image-wrapper:nth-child(2),
    .about__gallery .image-wrapper:nth-child(3)
    {
      display: none;
    }

    .about__gallery .image-wrapper:nth-child(4) {
        margin-top: 0rem; 
      }
    
      .galery__grid {
        
        grid-template-columns: repeat(2, minmax(0, 1fr)); 
        
    }

    .gallery-item:nth-child(5),
    .gallery-item:nth-child(6),
    .gallery-item:nth-child(7),
    .gallery-item:nth-child(8) {
        display: none;
    }

    .offer__gallery{
        margin: 3.5rem 1.5rem;
     
    }
    .gallery-item:nth-child(3) .price{
      
      
        margin-top: 2.3rem;
      }


      .refresh-button__wrapper{
            display: flex;
            justify-content:center;
            margin-top: 3.7rem;
            margin-bottom: -3.8rem;
      }

      .refresh-button{
        display: flex;
        width: 6rem;
        height: 6rem;
        justify-content: center;
        align-items: center;
        align-items: center;
        border-radius: 100px;
        border: 0.1rem solid $color-footer;
        

    }

    a.link-item::before {
   
        width: 50%;
       
    }

    .favorite__wrapper{
        width: 100%;
    }
  }

    // Modal window
    @media (max-width: 800px){

    .menu-window__wrapper{
      
      width: 100%;
      max-width: 68.8rem;
     
  }

  .menu-window__content{
    
    max-width: 34.2rem;
    box-sizing:border-box
    
}

  .size-buttons, .additives-buttons{
    flex-wrap: wrap;
    justify-content: start;
    width: 30rem;
    
}
}

@media (max-width: 700px){
  .menu-window_coffee-image{
    display: none;

     
}
.menu-window__wrapper{
      
  width: 100%;
  max-width: 34.2rem;
 
}

.menu-window__content{

  padding-left: 0px;

}

}


@media (max-width: 675px){
    .favorite__arrows button{
        display: none;
    }

    .favorite_content{
        width: 100%;
    }

    .favorite_content img{
        width: 34.8rem;
        height: 34.8rem;
    }

    .mobile-app__mobile-screens img{
        width: 38rem;
        height: 38rem;
           
      } 

      .container {
        padding: 0 1.6rem 4rem 1.6rem ;
    }

    h1 {
        font-size: 5rem;
        
      }

      h2 {
        font-size: 5rem;
       
      }

     
}

@media (max-width: 550px){

    .favorite__slide{
      max-width: 34.8rem;
    }

    .favorite__slider-wrapper{
      width: 34.8rem;
    }
  
    .favorite__slide img{
      max-width: 34.8rem;
    }

    .galery__grid {
        
        grid-template-columns: repeat(1, minmax(0, 1fr)); 
        
    }
    
    .gallery-item__text{
        width: 24rem;
       
        
    }
}

@media (max-width: 450px){
    

    h1 {
        font-size: 4.2rem;
        
        font-weight: 600;
        line-height: 115%;
        margin: 0;
      }

      h2 {
        font-size: 3.2rem;
       
      }
      
    .enjoy {
        padding: 6rem 1.6rem;
    
    }

   
    .mobile-app__buttons{
        flex-direction: column;
        justify-content: space-between;
        gap: 2rem;
      }

      .mobile-app__mobile-screens img{
        width: 34.8rem;
        height: 34.8rem;
           
      } 

      .mobile-app__mobile-screens{
        margin-top: -6.1rem;
      }
      
      footer{
        padding: 6rem 1.6rem;
      }

      .contacts__content_right{
        
        margin-top: 0rem;
        margin-bottom: 0.5rem;
         
      }
      .contacts__content{
        
        gap: 2.5rem;
         
      }
.offer h1{
    font-size: 3.2rem;
}

.offer__button{
    
    gap: 0.5rem;
  }
}





@media only screen and (hover: hover){

  a.nav-link:hover::after{
    width: 100%;
    left: 0;
    transform: scaleX(1);
}

.header_menu-button:hover::before {
  transform: scaleX(1);
}


  .mobile-app_button:hover{
    cursor: pointer;
    background-color: $color-footer;
    color: $color-background;
    border: 0.1rem solid $color-footer;
    transition: all 0.7s ease;
  }
  
  .mobile-app_button:hover path {
    cursor: pointer;
    fill: $color-background;
    transition: all 0.7s ease;
  }

  .enjoy_menu-button:hover {
    background-color: $color-background;
    color: $color-text; 
  }

  .enjoy_menu-button:hover::after {
    margin-left: 0.5rem;
    opacity: 1;
    transform: scale(1);
    left: -1rem;
   
  }

  .favorite__arrows button:hover {
    cursor: pointer;
    // color: $color-background;
    background-color: $color-footer;
    border: 0.1rem solid $color-footer;
    transition: all 0.7s ease;
    
  }

  .favorite__arrows_left:hover path {
    stroke: $color-background;
    transition: stroke 0.5s ease;
  }

  .favorite__arrows_right:hover path {
    stroke: $color-background;
    transition: stroke 0.5s ease;
  }


  .offer__button-content:hover {
  background-color: $color-footer;
  color: $color-background;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.image-wrapper img:hover {
  transform: scale(0.9);
}

.gallery-item .image-wrapper img:hover {
  cursor: pointer;

}


.social:hover{
  cursor: pointer;
  background-color: $color-background;
  border: 0.1rem solid $color-footer;

  }

.social:hover path{
  stroke: $color-footer;

  }
  a.link-item:hover::before{
    transform: scaleX(1);
}

.size-button:hover, .additives:hover,
.close-button:hover {
    background: $color-footer;
    color: $color-background;
}

.size-button:hover .size,
.additives:hover .name{
    color: $color-background;
}

.gallery-item:hover{
  cursor: pointer;
}

}








// @media (hover: none){
    
    
//     .enjoy_menu-button:hover {
//         background-color: $color-background;
//         color: $color-text; 
//       }

//     .enjoy_menu-button:hover::after {
//         margin-left: 0.5rem;
//         opacity: 1;
//         transform: scale(1);
//         left: -1rem;
//     }



//     a.nav-link:hover::after{
//         width: 100%;
//         left: 0;
//         transform: scaleX(0);
//     } 

//     .image-wrapper img:hover {
//         transform: scale(1);
//       }  
      

//     .social:hover{
//     cursor: pointer;
//     background-color: $color-background;
//     border: 0.1rem solid $color-background;
//     }

//     .social:hover{
//         cursor: none;
//         background-color: $color-footer;
//         border: 0.1rem solid $color-background;
    
//         }

//         .social:hover path{
//             stroke: $color-background;
//         }       

//         a.link-item:hover::before{
//             transform: scaleX(0);
//         } 

//         .gallery-item .image-wrapper img:hover {
//             cursor: none;
//           }
          
          

//         .favorite__arrows button:hover {
//             cursor: pointer;
//             background-color: $color-background;
//             border: 0.1rem solid $color-footer;
//             transition: none;
            
//           }

//           .favorite__arrows_right:hover path {
//             stroke: $color-footer;
//             transition: none;
//           }
        
//           .favorite__arrows_left:hover path {
//             stroke: $color-footer;
//             transition: none;
//           }



//           .offer__button-content:nth-child(2):hover,
//           .offer__button-content:nth-child(3):hover{
//             cursor: none;
//             transition:none;
//             transform: translate(0);
//             background-color: $color-background; 
//             color: $color-text;
//       }
// }
 

