html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    transition: all 0.5s ease-in-out;
    font-size: 10px;
    background-color: $color-background
  }

.container {
  // position: relative;
  max-width: 1360px;
  margin: 0 auto;
  
}

h1 {
  font-family: Inter;
  color: $color-background;
  font-size: 7.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 105%;
  margin: 0;
}

.offer h1{
  color: $color-text;
  max-width: 80rem;
  text-align: center;
  font-weight: 600;
  line-height: 125%;
  margin: 0;
  font-size: 6rem;
}

h2 {
  font-size: 6rem;
  color: $color-text;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  margin: 0;
}

h3{
  font-family: Inter;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  margin: 0;
}

.text-accent{
  font-style: italic;
  color: $color-accent;
}

.button{
    display: flex;
    width: 20rem;
    height: 6.4rem;
    justify-content: center;
    align-items: center;
    background-color: $color-background;
    border-radius: 100px;
    border: 0.1rem solid $color-text;
}

.button.mobile-app_button{
  justify-content: left;
}

.button:hover{
  cursor: pointer;
  background-color: $color-footer;
  color: $color-background;
}



.price{
  font-family: Inter;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; 
  margin: 0;
}
