.enjoy {
    // background: url("../img/img-hero.jpg") center/cover no-repeat;
    
    // overflow: hidden; 

    padding: 10rem; 
    width: 100%;
    max-width: 136rem;
    margin: 0 auto;
    position: relative;
    box-sizing:border-box;
    
  }

  .enjoy-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    
    z-index: -1;
  }
  
  .background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4rem;
  }

  .enjoy__content{
    max-width: 53rem;
  }

  .enjoy p{
    margin: 4rem 0;
    font-family: Inter;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: $color-background;
  }
