.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
  }
  

  .menu-window {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }

  @-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
  }
  @keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
  }

.menu-window__wrapper{
    display: flex;
    max-width: 80rem;
    padding: 1.6rem;
    box-sizing:border-box;
    border-radius: 40px;
    // border: 0.1rem $color-background;
    background: $color-background;
}

.menu-window_coffee-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 310px;
    height: 310px;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 40px;

    
    
}

.menu-window_coffee-image img{  
    width: 340px;
    height: 340px;
 
}

.menu-window__content{
    display: flex;
    width: 100%;
    padding-left: 20px;
    flex-direction: column;
    align-items: flex-start;
    // gap: 20px;
    flex: 1 0 0;
}

p.description{
    margin: 0;
    font-feature-settings: 'clig' off, 'liga' off;
    color: $color-text;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-top: 1.2rem;
}

.menu-window__content span{
    font-family: Inter;
    color: $color-text;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    margin-top: 2rem;
}

.size-buttons, .additives-buttons{
    display: flex;
    margin-top: 0.8rem;
    gap:0.7rem;
    margin-right: 7.2rem ;
}



.size-button, .additives{
    display: flex;
    margin-right: 0;
    padding: 8px 16px 8px 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    background: $color-background;
    border: 0.1rem solid $color-border-light;
}

.size-button.active,
.additives.active, .close-button.active 
{
 color: #E1D4C9;
    background: #665F55 !important;
 border: 0.1rem solid #665F55;
 }

 .size-button.active .size,
 .additives.active .name {
    color: #E1D4C9;
 } 

 .size-button,
.additives,
.close-button{
  cursor: pointer;
}

// .size-button:hover, .additives:hover,
// .close-button:hover {
//     background: $color-footer;
//     color: $color-background;
// }

.size-button .size,
.additives .name{
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    color: $color-text;
}

// .size-button:hover .size,
// .additives:hover .name{
//     color: $color-background;
// }

.volume, .number{
    display: flex;
    padding: 0.3rem 0.9rem 0.3rem 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 10rem;
    background: $color-border-light;
    font-family: Inter;
    color: $color-text;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.total-amount{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    max-width: 43.8rem;
    width: 100%;
    color: $color-text;

}

.text-divider{
    display: flex;
    height: 0.1rem;
    margin-top: 1.7rem;
    background: $color-border-light;
    width: 100%;

}

.info-block{
    display: flex;
    justify-content: space-between;
    gap: 0.8rem;
    margin-top: 1rem;
}



.info-block_text{
    display: flex;
    max-width: 41.4rem;
    width: 100%;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    color: $color-text;
}

.close-button{
    margin-top: 3.1rem;
    display: flex;
    // max-width: 43.8;
    // width: 100%;
    padding: 10px 78px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 100px;
    background: $color-background;
    border: 0.1rem solid $color-border-light;
    color: $color-text;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}