html {
  scroll-behavior: smooth;
  transition: all 0.5s ease-in-out;
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
  background-color: #E1D4C9;
  margin: 0;
}

::-webkit-scrollbar {
  width: 0px;
}

body {
  margin: 0 auto;
}

.container {
  max-width: 1440px !important;
  padding: 0 4rem 4rem 4rem;
  margin: 0 auto;
  box-sizing: border-box;
}

h1 {
  font-family: Inter;
  color: #E1D4C9;
  font-size: 7.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 105%;
  margin: 0;
}

.offer h1 {
  color: #403F3D;
  max-width: 80rem;
  text-align: center;
  font-weight: 600;
  line-height: 125%;
  margin: 0;
  font-size: 6rem;
}

h2 {
  font-size: 6rem;
  color: #403F3D;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  margin: 0;
}

h3 {
  font-family: Inter;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  margin: 0;
}

.text-accent {
  font-style: italic;
  color: #B0907A;
}

.price {
  font-family: Inter;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  align-self: stretch;
}

.button {
  display: flex;
  width: 20rem;
  height: 6.4rem;
  justify-content: center;
  align-items: center;
  background-color: #E1D4C9;
  border-radius: 10rem;
  border: 0.1rem solid #403F3D;
}

.enjoy_menu-button {
  display: flex;
  justify-content: center;
  border: none;
  position: relative;
}

.enjoy_menu-button::after {
  content: url(../img/icons/cofee-cup.svg);
  display: flex;
  margin-right: -1.7rem;
  transform: scale(0);
  transition: all 0.5s ease-in-out;
}

.favorite__controls {
  display: flex;
  margin-top: 4rem;
  justify-content: space-between;
  gap: 1.2rem;
}

.favorite-control {
  width: 4rem;
  height: 0.4rem;
  background-color: #C1B6AD;
  border-radius: 10rem;
  border: none;
}

.favorite-control_active {
  background-color: #665F55;
}

.favorite__arrows button {
  display: flex;
  width: 6rem;
  height: 6rem;
  justify-content: center;
  align-items: center;
  border-radius: 10rem;
  margin-bottom: 4rem;
  color: #665F55;
  background-color: #E1D4C9;
  border: 0.1rem solid #403F3D;
}

.button.mobile-app_button {
  display: flex;
  justify-content: left;
  color: #403F3D;
}

.mobile-app__buttons {
  display: flex;
  gap: 2rem;
}

.button-content {
  margin-left: 2rem;
  display: flex;
  justify-content: start;
  gap: 1rem;
}

.mobile-app__text-content p.available {
  font-family: Inter;
  font-size: 1rem !important;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  text-align: start;
}

.mobile-app__text-content p.store {
  text-align: start;
  font-family: Inter;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.offer__button {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  gap: 1.6rem;
}

.offer__button-content {
  width: fit-content;
  height: fit-content;
  display: flex;
  padding: 0.8rem 1.6rem 0.8rem 0.8rem;
  align-items: center;
  justify-content: space-between;
  gap: 0.8rem;
  border: 0.1rem solid #C1B6AD;
}

.offer__button-content:first-child {
  background-color: #665F55;
  color: #E1D4C9;
  pointer-events: none;
}

.offer__button-content:first-child {
  background-color: #665F55;
  color: #E1D4C9;
  pointer-events: none;
}

.header_menu-button_2 {
  pointer-events: none;
}

.header_menu-button_2::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.2rem;
  background-color: #403F3D;
  bottom: -0.4rem;
  transform: scaleX(1);
  transition: all 0.5s ease;
}

.offer__button-content p {
  font-family: Inter;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  margin: 0;
}

header {
  position: relative;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0 2rem;
}

.nav {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

.nav a {
  text-decoration: none;
  font-family: Inter;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  color: #403F3D;
  position: relative;
}

a.nav-link {
  position: relative;
}

a.nav-link::after {
  content: "";
  position: absolute;
  height: 0.2rem;
  background-color: #403F3D;
  bottom: -0.4rem;
  transform: scaleX(0);
  transition: all 0.5s ease;
}

.header_menu-button, .enjoy_menu-button {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #403F3D;
  font-family: Inter;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  position: relative;
}

.header_menu-button p {
  margin: 0;
  margin-right: 0.8rem;
}

.header_menu-button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.2rem;
  background-color: #403F3D;
  bottom: -0.4rem;
  transform: scaleX(0);
  transition: all 0.5s ease;
}

.burger-icon {
  display: none;
  width: 4.4rem;
  height: 4.4rem;
  justify-content: center;
  align-items: center;
  border-radius: 10rem;
  border: 0.1rem solid #403F3D;
}

.burger-icon .burger-lines {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.burger-lines .line {
  width: 1.6rem;
  height: 0.15rem;
  background-color: #403F3D;
}

.enjoy {
  padding: 10rem;
  width: 100%;
  max-width: 136rem;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
}

.enjoy-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4rem;
}

.enjoy__content {
  max-width: 53rem;
}

.enjoy p {
  margin: 4rem 0;
  font-family: Inter;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #E1D4C9;
}

.about {
  margin-top: 10rem;
}

.about__gallery {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4rem;
  height: 106rem;
}

.about__gallery .image-wrapper {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  overflow: hidden;
}

.about__gallery .image-wrapper:nth-child(2),
.about__gallery .image-wrapper:nth-child(3) {
  height: 43rem;
}

.about__gallery .image-wrapper:nth-child(1),
.about__gallery .image-wrapper:nth-child(4) {
  height: 59rem;
}

.about__gallery .image-wrapper:nth-child(4) {
  margin-top: -16rem;
}

.image-wrapper img {
  transition: transform 0.5s ease-in-out;
}

.favorite {
  margin-top: 10rem;
  text-align: center;
  width: 100%;
}

.favorite__wrapper {
  padding: 0 0.3rem;
  margin-top: 10rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3.5rem;
}

.favorite_content {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.favorite h3 {
  margin-top: 2rem;
}

.favorite_content p {
  max-width: 48rem;
  margin: 1.6rem 0;
  font-family: Inter;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.mobile-app {
  margin-top: 10rem;
  display: flex;
  justify-content: space-between;
}

.mobile-app__text-content {
  max-width: 63rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
}

.mobile-app__text-content p {
  margin: 0;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

footer {
  display: flex;
  margin-top: 10rem;
  background-color: #665F55;
  border-radius: 40px;
  padding: 10rem 10rem 9rem;
  flex-direction: column;
  justify-content: space-between;
  gap: 20rem;
}

.contacts__content {
  color: #E1D4C9;
  display: flex;
  gap: 5rem;
}

.contacts__content h2 {
  color: #E1D4C9;
}

.contacts__content_left {
  width: 50%;
}

.social-media {
  list-style: none;
  padding: 0;
  display: flex;
  margin-top: 4rem;
}

.social-media li {
  margin-right: 1rem;
}

.social-media a {
  text-decoration: none;
}

.social {
  display: flex;
  width: 6rem;
  height: 6rem;
  justify-content: center;
  align-items: center;
  border-radius: 10rem;
  background-color: #665F55;
  border: 0.1rem solid #E1D4C9;
  transition: all 1s ease-in-out;
}

.contacts a {
  color: #E1D4C9;
  text-decoration: none;
}

.link-item p {
  margin-left: 0.7rem;
}

.contacts__content_right {
  position: relative;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}

.contacts__content_right .contact {
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}

.contact-item {
  margin-top: 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

.contacts p {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  margin: 0;
  line-height: 150%;
  margin-left: 0.6rem;
}

.link-item {
  display: flex;
  position: relative;
}

a.link-item::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 0.2rem;
  background-color: #E1D4C9;
  bottom: -0.3rem;
  transform: scaleX(0);
  transition: all 0.5s ease;
}

.offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.offer__gallery {
  margin-top: 4rem;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  height: auto;
  overflow: hidden;
  border-radius: 4rem;
  border: 0.1rem solid #c1b6ad;
}

.gallery-item__text {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  row-gap: 1.2rem;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
  flex-grow: 1;
}

.gallery-item__text h3 {
  align-self: stretch;
  margin: 0;
}

.gallery-item__text p {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin: 0;
  margin-bottom: auto;
}

.gallery-item .image-wrapper {
  display: flex;
  align-items: center;
  border-radius: 4rem;
  justify-content: center;
  max-height: 31rem;
  max-width: 31rem;
  overflow: hidden;
}

.galery__grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 4rem;
}

.gallery-item__text .price {
  font-family: Inter;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

.refresh-button {
  display: none;
}

@media (max-width: 1200px) {
  .mobile-app {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10rem;
  }
  .mobile-app__text-content {
    max-width: 68.8rem;
  }
  .mobile-app__mobile-screens {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 1100px) {
  .galery__grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media (max-width: 1000px) {
  .nav {
    gap: 2rem;
  }
  .contacts__content.light {
    flex-direction: column;
    justify-content: space-between;
  }
  footer {
    padding: 10rem 6rem;
  }
  .contacts__content_left {
    width: auto;
  }
  .contacts__content_right {
    margin-top: 3.5rem;
    margin-bottom: 0.5rem;
  }
}
@media (max-width: 768px) {
  .header__nav {
    display: none;
  }
  .header_menu-button {
    display: none;
  }
  .burger-icon {
    display: flex;
  }
  .burger-menu_show {
    display: flex;
  }
  .enjoy {
    padding: 10rem 6rem;
  }
  .enjoy_menu-button::after {
    transform: scale(1);
    margin-right: 0.3rem;
    margin-left: 0.7rem;
    width: fit-content;
  }
  .about__gallery {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: fit-content;
  }
  .about__gallery .image-wrapper:nth-child(2),
  .about__gallery .image-wrapper:nth-child(3) {
    display: none;
  }
  .about__gallery .image-wrapper:nth-child(4) {
    margin-top: 0rem;
  }
  .galery__grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .gallery-item:nth-child(5),
  .gallery-item:nth-child(6),
  .gallery-item:nth-child(7),
  .gallery-item:nth-child(8) {
    display: none;
  }
  .offer__gallery {
    margin: 3.5rem 1.5rem;
  }
  .gallery-item:nth-child(3) .price {
    margin-top: 2.3rem;
  }
  .refresh-button__wrapper {
    display: flex;
    justify-content: center;
    margin-top: 3.7rem;
    margin-bottom: -3.8rem;
  }
  .refresh-button {
    display: flex;
    width: 6rem;
    height: 6rem;
    justify-content: center;
    align-items: center;
    align-items: center;
    border-radius: 100px;
    border: 0.1rem solid #665F55;
  }
  a.link-item::before {
    width: 50%;
  }
  .favorite__wrapper {
    width: 100%;
  }
}
@media (max-width: 675px) {
  .favorite__arrows button {
    display: none;
  }
  .favorite_content {
    width: 100%;
  }
  .favorite_content img {
    width: 34.8rem;
    height: 34.8rem;
  }
  .mobile-app__mobile-screens img {
    width: 38rem;
    height: 38rem;
  }
  .container {
    padding: 0 1.6rem 4rem 1.6rem;
  }
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 5rem;
  }
}
@media (max-width: 550px) {
  .galery__grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .gallery-item__text {
    width: 24rem;
  }
}
@media (max-width: 450px) {
  h1 {
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 115%;
    margin: 0;
  }
  h2 {
    font-size: 3.2rem;
  }
  .enjoy {
    padding: 6rem 1.6rem;
  }
  .mobile-app__buttons {
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
  }
  .mobile-app__mobile-screens img {
    width: 34.8rem;
    height: 34.8rem;
  }
  .mobile-app__mobile-screens {
    margin-top: -6.1rem;
  }
  footer {
    padding: 6rem 1.6rem;
  }
  .contacts__content_right {
    margin-top: 0rem;
    margin-bottom: 0.5rem;
  }
  .contacts__content {
    gap: 2.5rem;
  }
  .offer h1 {
    font-size: 3.2rem;
  }
  .offer__button {
    gap: 0.5rem;
  }
}
@media only screen and (hover: hover) {
  a.nav-link:hover::after {
    width: 100%;
    left: 0;
    transform: scaleX(1);
  }
  .header_menu-button:hover::before {
    transform: scaleX(1);
  }
  .mobile-app_button:hover {
    cursor: pointer;
    background-color: #665F55;
    color: #E1D4C9;
    border: 0.1rem solid #665F55;
    transition: all 0.7s ease;
  }
  .mobile-app_button:hover path {
    cursor: pointer;
    fill: #E1D4C9;
    transition: all 0.7s ease;
  }
  .enjoy_menu-button:hover {
    background-color: #E1D4C9;
    color: #403F3D;
  }
  .enjoy_menu-button:hover::after {
    margin-left: 0.5rem;
    opacity: 1;
    transform: scale(1);
    left: -1rem;
  }
  .favorite__arrows button:hover {
    cursor: pointer;
    background-color: #665F55;
    border: 0.1rem solid #665F55;
    transition: all 0.7s ease;
  }
  .favorite__arrows_left:hover path {
    stroke: #E1D4C9;
    transition: stroke 0.5s ease;
  }
  .favorite__arrows_right:hover path {
    stroke: #E1D4C9;
    transition: stroke 0.5s ease;
  }
  .offer__button-content:nth-child(2):hover,
  .offer__button-content:nth-child(3):hover {
    background-color: #665F55;
    color: #E1D4C9;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }
  .image-wrapper img:hover {
    transform: scale(0.9);
  }
  .gallery-item .image-wrapper img:hover {
    cursor: pointer;
  }
  .social:hover {
    cursor: pointer;
    background-color: #E1D4C9;
    border: 0.1rem solid #665F55;
  }
  .social:hover path {
    stroke: #665F55;
  }
  a.link-item:hover::before {
    transform: scaleX(1);
  }
}

/*# sourceMappingURL=style.css.map */
